<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/banks/BankEdit}" th:object="${bank}" th:method="post">
    <label>Name</label>
    <input type="text" th:field="*{id}">
    <input type="submit" value="Сохранить">
</form>
<!--todo получить списки свзянных клиентов-->
<p>
    Клиенты:
</p>
<
<table>
    <tr>
        <th>Fio</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Passport</th>
    </tr>
    <tr th:each="client:${bank?.getClientList()}">
        <td th:text="${client.getFio()}"></td>
        <td th:text="${client.getPhone()}"></td>
        <td th:text="${client.getEmail()}"></td>
        <td th:text="${client.getPassportNumber()}"></td>
    </tr>
</table>
<p>
    Кредиты:
</p>
<!--todo получить списки свзянных кредитов-->
<table>
    <tr>
        <th>Limit</th>
        <th>Percent</th>
    </tr>
    <tr th:each="credit:${bank?.getCreditList()}">
        <td th:text="${credit.getLimit()}"></td>
        <td th:text="${credit.getPercent()}"></td>
    </tr>
</table>
</body>
</html>