<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="narrow-jumbotron.css" rel="stylesheet">
</head>

<body>

<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Project name</h3>
    </div>

    <div class="jumbotron" style="text-align: center; float: none;">


        <p></p>
        <form class="form-horizontal" th:action="@{/offer/create}">
            <fieldset>

                <!-- Form Name -->
                <legend>Form Name</legend>

                <!-- Select Basic -->
                <div class="form-group" style="float: none; text-align: center;">
                    <label class="col-md-4 control-label" for="selectbasic">Select Basic</label>
                    <div class="col-md-4">
                        <select id="selectbasic" name="selectbasic" class="form-control" style="right: auto; left: auto; text-align: left; float: none;">
                            <option value="1">Option one</option>
                            <option value="2">Option two</option>
                        </select>
                    </div>
                </div>

                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="selectbasic">Select Basic</label>
                    <div class="col-md-4">
                        <select id="selectbasic" name="selectbasic" class="form-control">
                            <option value="1">Option one</option>
                            <option value="2">Option two</option>
                        </select>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Text Input</label>
                    <div class="col-md-4">
                        <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
                        <span class="help-block">help</span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group" style="text-align: center;">
                    <label class="col-md-4 control-label" for="textinput">Text Input</label>
                    <div class="col-md-4" style="float: none; text-align: center;">
                        <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
                        <span class="help-block">help</span>
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group" style="text-align: center; display: block; opacity: 1;">

                    <div class="col-md-4">
                        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>
                    </div>
                </div>

            </fieldset>
        </form>


        <div class="row marketing">



        </div>

        <footer class="footer">
            <p>© Company 2017</p>
        </footer>

    </div> <!-- /container -->


    <form style="border: 1px dashed rgb(66, 133, 244);"><div class="form-group"><input type="text" class="form-control"></div></form></div></body>
</html>