<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table th:id="table1">
    <tr>
        <th>ID</th>
        <th>Fio</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Passport</th>
    </tr>
    <tr th:each="client:${clientService.getAll()}">
        <!--        <td th:text="${#dates.format(call.getDate(),'HH:mm')}"></td>-->
        <td th:text="${client.getId()}"></td>
        <td th:text="${client.getFio()}"></td>
        <td th:text="${client.getPhone()}"></td>
        <td th:text="${client.getEmail()}"></td>
        <td th:text="${client.getPassportNumber()}"></td>
        <td><a th:href="@{/clients/edit/{clientId}(clientId=*{client.id})}" th:utext="edit">...</a></td>
        <td><a th:href="@{/clients/delete/{clientId}(clientId=*{client.id})}" th:utext="delete">...</a></td>
    </tr>
</table>
</body>
</html>