<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/clients/edit}" th:object="${client}" th:method="post">
    <label>Name</label>
    <input type="text" th:field="${client.getFio()}">
    <input type="text" th:field="${client.getPhone()}">
    <input type="text" th:field="${client.getEmail()}">
    <input type="text" th:field="${client.getPassportNumber()}">
    <input type="submit" value="Сохранить">
</form>
<p>Обслуживается в:</p>
<table>
    <tr><td>id bank</td>  </tr>
    <tr th:each="bank:${client.getBankList()}">
        <td  th:text="${bank.getId()}"></td>
    </tr>
</table>
<p>Имеющиеся кредиты:</p>
<table>
    <tr><td>id</td>  </tr>
    <tr th:each="loanOffer:${client.getLoanOfferList()}">
        <td  th:text="${loanOffer}"></td>
    </tr>
</table>
</body>
</html>


<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Form Name</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">ID</label>
            <div class="col-md-2">
                <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">ФИО</label>
            <div class="col-md-4">
                <input id="textinput" name="textinput" type="text" placeholder="Иванов Иван" class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Phone</label>
            <div class="col-md-4">
                <input id="textinput" name="textinput" type="text" placeholder="+7 (905) 555-35-35" class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Email</label>
            <div class="col-md-4">
                <input id="textinput" name="textinput" type="text" placeholder="a@mail.org" class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Passport number</label>
            <div class="col-md-4">
                <input id="textinput" name="textinput" type="text" placeholder="1234 567890" class="form-control input-md">

            </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="button1id">Double Button</label>
            <div class="col-md-8">
                <button id="button1id" name="button1id" class="btn btn-success">Good Button</button>
                <button id="button2id" name="button2id" class="btn btn-danger">Scary Button</button>
            </div>
        </div>

    </fieldset>
</form>
